/* styles.css file content */
/* CSS BY Isaiah Stubbs */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* ROOT VARIABLES */
/* GLOBAL STYLES (mobile first/small) */

@media screen and (max-width: 450px) {

}

body {
    background-color: rgb(107, 143, 231);
}

header {
    color: white
}

h2 {
    color: white;
}

h4 {
    color: rgb(54, 0, 238);
    background-color: white;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: orange;
    padding: 20px 0;
}

header {
    background-color: #004085;
    text-align: center;
    padding: 20px 0;
}