/* styles.css file content */
/* CSS BY Isaiah Stubbs */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* HTML5 display-role reset for older browsers */


/* ROOT VARIABLES */
:root {
    --Teal:#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink: #D9526F;
    --Dark-gray: #1E1E1E;
    --White: #ffffff; 
}

/* Mobile-first base styles */

@media (min-width:450px) {
    body {
        padding: 500px;
        min-height: 100%;
    }
}

@font-face {
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kavoon/v25/pxiFyp4_scRYhlUIM7D7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v20/UcCm3FwrK3iLTcvnUwQT9g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v20/UcCo3FwrK3iLTcviYwY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

main {
     color: var(--primary-bg-color);
}

h1 {
    font-family: 'Kavoon';
    font-size: 3em;
}

h2 {
    font-family:'Kavoon';
    font-size: 2em;
}

h3 {
    font-family: 'Inter';
    font-size: 1.5em;
    font-style: italic;
}

main h3 {
    font-family: 'Inter';
    font-size: 1.5em;
    font-style: normal;
}

h4 {
    font-family: 'Inter';
    font-size: 1.15em;
}

p {
    font-family: 'Inter';
}

body {
    background-color: rgb(107, 143, 231);
}

header {
    color: white;
    padding: 50px;
}

header {
    background-color: var(--Purple);
    text-align: center;
}

header p {
    font-style: italic;
    padding: 5px;
}

h2 {
    color: white;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: orange;
    padding: 20px;
}

table {
    font-family: 'Inter';
    border-collapse: collapse;
    border: 1px solid rgb(233,187,86);
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

li {
    font-family: "Inter";
    background-color: white;
    color: blue;
    border: 1px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 0px;
}

th {
   background-color: rgb(233,187,86);
   border-bottom: 3px solid rgb(233,187,86);
   padding: 10px 20px;
   font-weight: bold;
}

td {
    background-color: white;
    border-bottom: 3px solid rgb(233,187,86);
    border: 3px solid rgb(233,187,86);
    padding: 10px 20px;
}

tr {
    border: 3px solid rgb(233,187,86);
}

#first-step {
    background-color: var(--Pink);
    color: var(--White)
}

#first-step {
    padding: 20px;
}

#first-step a {
    text-decoration: none;
    color: var(--Dark-gray)
}

#first-step p {
    padding: 10px;
}

footer {
    font-family: "Inter";
    font-size: small;
    background-color: var(--Purple);
    padding: 30px;
    color: var(--White)
}

footer {
    text-align: center;
}

nav {
    background-color: var(--Yellow);
    padding: 30px;
    text-align: center;
    font-size: 1.15em;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--Purple);
}

#services {
    background-color: var(--Purple);
    padding: 30px;
}

#choose {
    background-color: var(--Pink);
}

#pricing {
    background-color: var(--Purple);
    padding: 30px;
}

main h3 {
    color: var(--Yellow);
    font-weight: bold;
}

#first-step h4 {
    text-align: center;
    color: var(--Dark-gray);
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px black;
}

#choose a {
    text-decoration: none;
    color: var(--Dark-gray);
}

#services h4 {
    background-color: var(--White);
    color: var(--Purple);
    font-weight: bold;
    border-radius: 0px 0px 0px 0px;
    padding: 20px;
}

#services p {
    background-color: var(--White);
    border-radius: 0px 0px 20px 20px;
    padding: 20px
}

img {
    background-color: var(--White);
    background-size: 300px 100px;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

#choose a {
    text-decoration: none;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  color: black;
  padding: 15px;
  border-radius: 15px;
}